.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .module__weather__pattern {
    padding: 5px;
  }
  .weather__info {
    border-left: 1px solid #e9e9e9;
    padding-left: 15px;
  }
}

@media (min-width: 500px) {
  #add-city {
    transition: transform 0.2s;
  }
  #add-city:hover {
    transform: scale(1.05);
  }
  .weather__info {
    margin-bottom: 10px;
  }
}

.container {
  padding: 0 5px !important;
}

.conditional {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.weather__details {
  margin-left: 25px !important;
}
