.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .weather {
    flex-direction: column !important;
  }
  .module__weather__pattern {
    padding: 5px;
  }
  .weather__info {
    border-left: 1px solid #e9e9e9;
    padding-left: 15px;
  }
  .weatherIconAndInfo {
    display: flex !important;
    flex-flow: row nowrap !important;
  }
  .weather__icon {
    align-self: center;
    margin-left: 18px;
  }
  .weather__icon > img {
    margin: 0 20px;
  }
  .weather__details > li {
    justify-content: center !important;
  }
}

@media (min-width: 500px) {
  #add-city {
    transition: transform 0.2s;
  }
  #add-city:hover {
    transform: scale(1.05);
  }
  .weather__info {
    margin-bottom: 10px;
  }
}

.container {
  padding: 0 5px !important;
}

.conditionalWeatherInfoDiv {
  display: flex !important;
  flex-flow: column !important;
  justify-content: center !important;
}

.weather__details {
  margin-left: 25px !important;
}
